# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# LaTeX and Figure output
src/tex/figures/*
src/tex/auto/*
src/tex/indent.log

# Miscellaneous
__pycache__
*.synctex.gz
